//color:#5dbe7c
//oscuro:#5dbe7c
.main-container {
  width: 80%;
  margin: 1rem auto;
  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.25;
  }
  .row {
    display: grid;
    gap: 0.125rem;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

    .singleAlbum {
      text-align: center;
      display: grid;
      padding: 5% 10%;
      border-radius: 1rem;
      background-color: #f5f5f5a6;
      box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
      border: 1px solid black;
      margin: 1rem;
      .content {
        color: black;
        align-self: end;
        margin: 0.5rem 0.5rem 2rem;
        padding: 0.5rem;
        //margin-top: 30px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

        .link {
          color: black;
          text-decoration: none;
        }

        h1 {
          color: black;
          font-size: 1.5rem;
        }
      }
    }

    .stacked {
      display: grid;
      aspect-ratio: 1 / 1.5;
    }
    .stacked > * {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}
