.dots-wrapper {
  margin: 0 auto; //puse el auto
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .yellow {
      background-color: yellow;
    }

    .red {
      background-color: red;
      animation-delay: 0.1s;
    }

    .blue {
      background-color: blue;
      animation-delay: 0.2s;
    }

    .violet {
      background-color: violet;
      animation-delay: 0.3s;
    }
  }

  .dots-container > .dot {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    margin: 2vw;
    background-image: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    animation: bounce 1.5s 0.5s linear infinite;
  }
}

@keyframes bounce {
  0%,
  50% {
    transform: scale(1.4);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1);
  }
  100% {
    transform: scale(0.4);
    filter: blur(0px);
  }
}
