@use "./mixins.scss" as mix;

// input::placehoder {
//   color: green;
// }
// .search-box {
//   color: black;
// }
.active-header {
  position: fixed;
  background-image: linear-gradient(#24282f00, #00908a);
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  margin-right: inherit;
  .show-close-button {
    position: absolute;
    top: -6.5vh;
    left: 52vw;
  }

  .logo {
    margin-top: 3rem;
  }
}

.not-active-header {
  display: flex;
  //border: 1px solid blue;
  height: 20vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  .search-box {
    align-self: center;
    width: fit-content;
  }
}

.primary-header {
  .greeting {
    font-size: 1.5rem;
    align-self: center;
  }
  .search-box {
    @include mix.input-styles(0.3rem);
  }
  input:focus {
    color: black;
    background-color: #e0f4f4;
  }
}
.logo {
  margin-right: 1rem;
}
.nav-container {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .hamburguer-botton {
    position: absolute;
    top: 15%;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5rem;

    .icon-close {
      display: none;
    }
    .show-close-button {
      display: block;
    }

    .hide-hamburguer {
      display: none;
    }
  }

  .nav-list {
    margin-right: 2rem;
    display: grid;
    gap: 1rem;
    text-align: center;
    .links {
      color: black;
      text-decoration: none;
      font-size: 1.2rem;
      list-style-type: none;
    }
    .links:hover,
    .links:focus {
      color: pink;
    }
  }

  .not-active {
    display: none;
  }
}

@media (min-width: 50em) {
  .primary-header {
    background-image: none;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: fit-content;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.15);
    flex-direction: row;
    border: none;
    .search-box {
      align-self: center;
      width: fit-content;
    }
    .greeting {
      margin-right: auto;
    }
    .logo {
      margin-top: 0;
    }
  }
  .nav-container .primary-navigation {
    box-shadow: none;
    display: block;
    cursor: pointer;
    border: 0;
    padding: 0.5rem;
    margin-right: 1rem;
    .nav-list {
      display: flex;
      gap: 2rem;
    }
  }

  .hamburguer-botton {
    display: none;
  }
}

@media (min-width: 530px) and (max-width: 800px) {
  .primary-header {
    .greeting {
      font-size: 1.2rem;
      margin-left: 1rem;
    }
    .search-box {
      margin-left: 1rem;
    }
  }

  .hamburguer-botton {
    right: 1rem;
    top: 1rem;
    display: block;
    .show-close-button {
      display: block;
    }
  }
}
