.nav-container {
  color: orangered;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .hamburguer-botton {
    .icon-close {
      display: none;
    }
    .show-close-button {
      display: block;
    }

    .icon-hamburguer {
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0.5rem;
    }
    .hide-hamburguer {
      display: none;
    }
  }

  .not-active {
    display: none;
  }
}
@media (min-width: 50em) {
  .nav-container .primary-navigation {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5rem;
  }
  .hamburguer-botton {
    display: none;
  }
}
