@use "./mixins.scss" as mix;

.active-header {
  content: "";
  position: fixed;
  background-image: linear-gradient(rgb(0 0 0 /0), rgb(0 0 0 / 0.8));
}
.not-active-header {
  display: flex;
  border: 1px solid blue;
  height: 20vh;

  .search-box {
    align-self: flex-end;
  }
}
.primary-header {
  //display: flex;
  //margin: 1rem auto;
  .greeting {
    margin-right: auto;
    font-size: 1.5rem;
    align-self: center;
  }
  .search-box {
    @include mix.input-styles(0.3rem);
  }
}
.logo {
  //margin-right: auto;
  margin-right: 1rem;
  margin-left: 2rem;
}
.nav-container {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .hamburguer-botton {
    .icon-close {
      display: none;
    }
    .show-close-button {
      display: block;
    }

    .icon-hamburguer {
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0.5rem;
      margin-left: 1rem;
    }
    .hide-hamburguer {
      display: none;
    }
  }
  // .active {
  //   display: block;
  //   //position: fixed;
  //   inset: 8rem 1rem auto;
  //   background-color: white;
  //   border-radius: 5px;
  //   padding: 1.5rem;
  //   box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.15);
  // }
  .nav-list {
    margin-right: 2rem;
    display: grid;
    gap: 1rem;
    text-align: center;
    .links {
      color: black;
      text-decoration: none;
      font-size: 1.2rem;
      list-style-type: none;
    }
    .links:hover,
    .links:focus {
      color: pink;
    }
  }

  .not-active {
    display: none;
  }
}

@media (min-width: 50em) {
  .primary-header {
    background-image: none;
    position: fixed;
    background-color: white;
    //border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.15);
    border: none;
    .search-box {
      align-self: center;
    }
  }
  .nav-container .primary-navigation {
    //position: fixed;
    box-shadow: none;
    display: block;
    cursor: pointer;
    border: 0;
    padding: 0.5rem;
    //background-color: rebeccapurple;
    margin-right: 1rem;
    .nav-list {
      display: flex;
      gap: 2rem;
    }
  }

  .hamburguer-botton {
    display: none;
  }
}
