@use "./mixins.scss" as mix;
.navigation-drawer-container {
  position: absolute;
  width: 100%;
  top: -4vh;
  transform: translateY(-100%);
  transition: transform 0.9s ease-in-out;

  .thumb-wrapper {
    display: flex;
    .thumb {
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: mix.$clear-background-color;
      position: relative;

      .button-thumb {
        background-color: mix.$darker-background-color;
        color: mix.$secondary-color;
        border: none;
        border-radius: 2px;
        padding: 1rem;
        max-height: 30px;
        max-width: 120px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .button-thumb:hover {
        @include mix.button-hover;
      }
      .button-thumb:focus {
        @include mix.button-focus;
      }
      .button-thumb:active {
        @include mix.button-active;
      }
    }
    .thumb:before {
      content: "";
      border: 0.5px solid #55303e;
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      position: absolute;
      width: 1px;
      height: 100%;
      bottom: 0;
      right: 0;
      border-image: linear-gradient(45deg, #c4859d, #6b3c4e) 1;
    }
  }
}
/////////////////////////////

.is-open {
  transform: translateY(20%);
  transition: transform 0.6s ease-out; //New
}

@media only screen and (min-width: 900px) {
  .is-open {
    transition: unset;
    transform: translateY(0);
  }

  .navigation-drawer-container {
    transition: unset;
    transform: translateY(0);
    .thumb-wrapper {
      transform: translateY(50vh);
      background-color: transparent;
      justify-content: space-between;
      .thumb {
        width: 15%;
        margin: 2rem;
        margin-top: 0;
      }
      .thumb:before {
        border: none;
      }
    }
  }
}
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .navigation-drawer-container {
    .thumb-wrapper {
      .thumb {
        height: 20vh;
      }
    }
  }
}
