.gallery-container {
  margin: 0 auto;
}
.picture-cell {
  overflow: hidden;
}
.picture-info {
  position: absolute;
  overflow: hidden;
  background-color: rgba(167 210 203 / 0.6);
  inset: auto 0 0 0;
  padding: 0.5rem;
  min-width: fit-content;
  .picture-title,
  .picture-date {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .picture-title {
    font-size: 0.6rem;
  }
  .picture-date {
    font-size: 0.5rem;
  }
}
@media only screen and (min-width: 700px) {
  .picture-info {
    position: absolute;
    padding: 8px;
    padding-left: 0;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(46, 58, 56, 0.7);
    font-size: 1rem;
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;
    .picture-title {
      font-size: 1rem;
      font-weight: 700;
    }
    .picture-date {
      font-size: 0.9rem;
    }
  }
  .picture-cell {
    transition: transform 0.5s;
    overflow: hidden;
  }
  .picture-cell:hover .picture-info {
    opacity: 1;
  }
  .picture-cell:hover {
    transform: scale(1.2) translate(-10px, 0px);
    z-index: 1;
  }
}
