@use "./mixins.scss" as mix;

.full-photo-container {
  width: 100vw;
  margin-left: -2rem;
  margin-right: -2rem;
  height: 70vh;
  display: flex;
  align-items: center;
  .full-photo {
    max-inline-size: 100%;
    object-fit: contain;
    object-position: top center;
    width: 100%;
    // height: auto;
  }
  .drawer-container {
    //padding: 1rem;
    bottom: 0rem;
    position: fixed;
    width: 100%;
    //background-color: #d2e4e1;
    // height: 30%;
    line-height: 1.5rem;
    text-align: center;
    .title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #bae0d9;
      height: 10vh;
      .toggle-drawer {
        position: relative;
        left: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;

        .open-drawer-symbol {
          border: solid black;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 5px;
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }
      }
      .toggle-drawer:focus {
        outline: none;
      }
    }
    .info-open-drawer {
      height: 30vh;
      background-color: rgba(210, 228, 225, 0.5);
    }
  }
  .toggle-drawer:hover {
    color: blue;
  }
}
.footer-container {
  display: none;
}
////mobile landscape///
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  //enter code here

  .footer-container {
    display: none;
  }
}

//Tablets//////////////////////////////////////////////////////////////////
// ##Device = Tablets, Ipads (portrait)
//   ##Screen = B/w 768px to 1024px
// */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}
//Laptops/////////////////////////////////////////////////////////////////
// @media screen
//   and (min-device-width: 1200px)
//   and (max-device-width: 1600px)
//   and (-webkit-min-device-pixel-ratio: 1) {
// }
