@use "./src/styles/mixins.scss";
@use "./src/styles/albumList.scss";
@use "./src/styles/navigation.scss";
@use "./src/styles/photoList.scss";
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
