@use "./src/styles/mixins.scss";
@use "./src/styles/albumList.scss";
@use "./src/styles/navigation.scss";
@use "./src/styles/photoList.scss";
@use "./src/styles/photoDetail.scss";
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  margin: 0;
  padding: 0;
}

/////////////////por ahora
.footer-container {
  position: absolute;
  bottom: 0;
  border: 1px solid blue;
}

/// //////////
.Main {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.5rem;

  box-sizing: border-box;
}
.subtitle {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 500px) {
  // .Main {
  //   margin-left: 1rem;
  //   margin-right: 1rem;
  // }
  .main-container {
    margin: 0 auto;
  }
}
